

{% extends 'base.html' %}

{% block content %}
    <div class="center">
        <div>
            <h1 style="margin-top: 1em;">Project Tasks</h1>
        </div>
    </div>
    <div class="center">
        
        <div class="content-space-center-with">
            <p class="text-font-important">Introduction to Our Django Project: "Task Management"</p>
            <p class="text-font-important-sup">Welcome to our project presentation, where we invite you to explore and get to know our Django web application, titled "Task Management." In an increasingly busy and organized world, efficient task management has become an essential skill. Our application is designed to simplify this task and help you stay organized in your daily life.</p>
            <p class="text-font-important">What is "Task Management"?</p>
            <p class="text-font-important-sup">"Task Management" is a web application that allows you to keep track of your pending tasks, making it easy to create, edit, delete, and view them. It offers a range of key features to assist you in effectively staying on top of your responsibilities.</p>
            <p class="text-font-important">Highlighted Features:</p>
            <p class="text-font-important-sup">Create Tasks: With our application, you can create new tasks in a matter of seconds. You input the task's title, description, and due date, and you're ready to start working on it!<br><br>
          
                Edit Tasks: Changed your mind or need to adjust task details? "Task Management" lets you easily edit task information.
                <br><br>
                Delete Tasks: If a task is no longer relevant or has been completed, you can remove it from your list of pending tasks.
                <br><br>
                View Completed Tasks: Keep a record of all the tasks you've completed. This provides a sense of achievement and helps you assess your productivity.
                <br><br>
                Intuitive Interface: We've designed a user-friendly and visually appealing interface that makes navigation and application usage straightforward.</p>
            <p class="text-font-important">How It Works:</p>
            <p class="text-font-important-sup">Our application is built on the powerful Django framework, ensuring robust and secure functionality. Users can register, log in, and start using the application right away. Once inside, they can efficiently manage their tasks.</p>
            <p class="text-font-important">Conclusion:</p>
            <p class="text-font-important-sup">In summary, "Task Management" is the perfect tool for anyone looking to simplify their daily life, stay organized, and boost productivity. We're excited to present this application to you and hope you find it as helpful as we have!</p>
        </div>
    </div>
{% endblock %}