{% extends 'base.html' %}

{% block content %}

    

    <div class="center">
        <form class="form-lab-static" method="post">
            <h1>Task detail</h1>
            {% csrf_token %}
            <div>
                    <p class="text-area-user">Title</p>
                    <input class="" type="text" name="title">
                </div>
                <div>
                    <p class="text-area-user">Description</p>
                    <textarea class="textarea-for" name="description" id="description" cols="30" rows="20"></textarea>
                </div>
                <div>
                    <p class="text-area-user">Important</p>
                    <input class="" type="checkbox" name="important">
                </div>
            <button>
                Update
            </button>
        </form>
    </div>

    <form action="{% url 'taskCompleted' task.id %}" method="post">
        {% csrf_token %}
        <button>
            Complete
        </button>
    </form>
    <form action="{% url 'taskDelete' task.id %}" method="post">
        {% csrf_token %}
        <button>
            Delete
        </button>
    </form>
{% endblock %}